main.about {
    margin: 5px;
    border: 1px solid rgb(233, 212, 254);
    border-radius: 5px;
    background-color: rgba(233, 212, 254, 0.431);
}

article.about {
    text-align: center;
}

h3.about {
    color: rgb(182, 132, 229);
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

h4.about {
    text-align: center;
    color: rgb(182, 132, 229);
    font-weight: 500;
    margin-top: 10px;
}

p.about {
    color: rgb(126, 70, 179);
}

div.about {
    margin-bottom: 10px;
}

i.about {
    color: rgb(126, 70, 179);
    font-size: 40px;
    margin: 0 10px;
}