html {
    margin: 10px;
}

body {
    border: 5px solid rgb(179, 130, 238);
    border-radius: 10px;
    font-family: "Roboto";
}

header {
    position: relative;
    text-align: center;
    margin: 15px;
}

img {
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 30px;
    height: 150px;
}

.bottomLink {
    color: rgb(183, 131, 232);
    text-decoration: underline;
    font-weight: 900;
}

.headerName {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(231, 209, 252);
    font-size: 65px;
    font-weight: 500;
}

.headerText {
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.653);
    font-size: 20px;
    font-weight: 800;
}

footer {
    margin-left: 10px;
}

@media all and (max-width: 980px) {
    .headerText {
        top: 70%;
    }
}

@media all and (max-width: 680px) {
    .headerName {
        font-size: 55px;
    }
    .headerText {
        top: 75%;
        font-size: 18px;
    }
}

@media all and (max-width: 530px) {
    .headerText {
        font-size: 15px;
    }
}

@media all and (max-width: 450px) {
    .headerName {
        font-size: 35px;
    }
    .headerText {
        top: 75%;
        font-size: 12px;
    }
}