.contactButton {
    display: flex;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 100px;
    justify-content: center;
    align-content: center;
    background-color: rgb(201, 166, 226);
    border: 1px solid rgb(201, 166, 226);
    border-radius: 30px;
}

.contactButton:hover {
    background-color: white;
    border: 1px solid rgb(201, 166, 226);
    border-radius: 30px;
    color: rgb(201, 166, 226);
}