div.drawings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h4.drawings {
    color: rgb(151, 110, 180);
    text-align: center;
}

.instaButton {
    display: flex;
    margin: 20px auto;
    width: 100px;
    justify-content: center;
    align-content: center;
    background-color: rgb(201, 166, 226);
    border: 1px solid rgb(201, 166, 226);
    border-radius: 30px;
    text-decoration: none;
    font-weight: 700;
}

.instaButton:hover {
    background-color: white;
    border: 1px solid rgb(201, 166, 226);
    border-radius: 30px;
    color: rgb(201, 166, 226);
}

li.drawings {
    list-style: none;
}

img.drawings {
    width: auto;
    max-width: 200px;
    margin: 10px;
    box-shadow: 7px 5px 11px 2px rgba(170, 145, 184, 0.64);
}