main.menuBar {
    display: flex;
    justify-content: center;
    background-color: rgb(228, 203, 251);
    border: 1px solid rgb(228, 203, 251);
    border-radius: 10px;
}

.menuBar>ul {
    margin: 0;
    padding: 0;
    display: flex;
}

ul li {
    list-style: none;
    display: inline-block;
}

.menuItem {
    color: blueviolet;
    border: 1px solid rgb(228, 203, 251);
    border-radius: 30px;
    transition: ease-in-out 0.3s;
    padding: 10px;
    background-color: rgb(228, 203, 251);
    margin: 0 7px;
}

.menuItem:hover {
    color: rgb(77, 24, 126);
    background-color: white;
    border: 1px solid white;
    border-radius: 30px;
}

.burgerbtn {
    display: none;
    width: fit-content;
    margin-left: 20px;
    margin-top: 5px;
}

.burgerIcon {
    font-size: 40px;
    color: rgb(180, 140, 218);
}

.burgerIcon:hover {
    color: rgb(103, 76, 128);
}

@media all and (max-width: 768px) {
    .menuBar {
        flex-direction: column;
    }
    .menuBar>ul {
        flex-direction: column;
    }
    .burgerbtn {
        display: block;
    }
}