button.projects {
    display: flex;
    margin: 30px auto;
    margin-bottom: 10px;
    width: 150px;
    justify-content: center;
    background-color: rgb(201, 166, 226);
    border: 1px solid rgb(201, 166, 226);
    border-radius: 30px;
}

button.projects:hover {
    background-color: white;
    border: 1px solid rgb(201, 166, 226);
    border-radius: 30px;
    color: rgb(201, 166, 226);
}

img.projects {
    height: 90%;
    margin: 20px 0;
}

a.projects {
    position: relative;
    top: -300px;
    text-decoration: none;
}

article.projects {
    height: 90%;
    margin-top: 20px;
    color: rgb(151, 110, 180);
    border: 1px solid rgb(233, 212, 254);
    border-radius: 30px;
    background-color: rgba(233, 212, 254, 0.431);
    padding: 15px;
    box-shadow: 7px 5px 11px 2px rgba(170, 145, 184, 0.64);
}

@media all and (max-width: 768px) {
    a {
        top: -190px;
    }
}

@media all and (max-width: 450px) {
    img.projects {
        height: 150px;
        margin: 10px 0;
    }
    article.projects {
        display: none;
    }
    button.projects {
        margin-top: 50px;
    }
    a {
        position: sticky;
    }
}

@media all and (max-width: 320px) {
    main.projects {
        display: flex;
    }
    img.projects {
        height: 50px;
        margin-top: 45px;
    }
    article.projects {
        display: none;
    }
    button.projects {
        text-align: center;
        margin: 10 auto;
    }
}